@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*general*/
main {
  display: flex;
  flex-wrap: wrap;
}
h3,
h2,
p,
span {
  margin: 0;
}
body {
  background-color: #e8ebe4;
  margin: 0;
  color: #1b1f21;
}
aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 20vw;
  min-height: 100vh;
  background-color: #fff;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
}
/*chats*/
.usuario {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #bec1bb;
}
i:hover {
  transform: translateY(-2px);
  transition: 200ms all;
}
.estado {
  color: #bec1bb;
}
.datosUsuario {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 15px;
  margin-left: 30px;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  margin-right: 30px;
}
.nuevoChat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contactos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}
.contacto {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-top: 2px solid #bec1bb;
  background-color: #fff;
}
.contacto:hover {
  transition: 300ms all;
  transform: translateX(7px);
}
/* tamaño de fuentes */
.large {
  font-size: 45px;
}
.medium {
  font-size: 16px;
}
.small {
  font-size: 14px;
}
.x-small {
  font-size: 10px;
}
/* tipos de fuentes */
.bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* tamaño de imágenes */
.tinyThumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #D4DCFF;
}
.normalThumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* botones */
.primary-button {
  background-color: #a491d2;
  color: #fff;
  border: none;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.primary-button:hover {
  background-color: #cdc3e6;
  transition: 300ms all;
  transform: scale(1.05);
}
.primary-button:focus {
  background-color: #bec1bb;
}
/* seccion principal */
.chat {
  display: flex;
  flex-flow: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}
.chat img {
  max-width: 350px;
}
