@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

main {
  display: flex;
  flex-flow: row nowrap;
}
h3,
h2,
p,
span {
  margin: 0;
}
body {
  background-color: #e8ebe4;
  margin: 0;
}
aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}
section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: center;
}
.usuario {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #bec1bb;
}
.datosUsuario {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
}
.nuevoChat {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.contactos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 80%;
  gap: 15px;
  box-sizing: border-box;
}
.contacto {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: 0;
  gap: 20px;
  border-top: 2px solid #bec1bb;
}
/* tamaño de fuentes */
.large {
  font-size: 45px;
}
.medium {
  font-size: 16px;
}
.small {
  font-size: 14px;
}
.x-small {
  font-size: 10px;
}
.bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* tamaño de imágenes */
.tinyThumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.normalThumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* botones */
.primary-button {
  background-color: #a491d2;
  color: #fff;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.primary-button:hover {
  background-color: #cdc3e6;
}
.primary-button:focus {
  background-color: #bec1bb;
}
